<img data-src="authorPicture" data-alt="author"/>
<div class="post-container">
    <div data-content="author"></div>
    <div data-content="date"></div>
    <input type="text" data-value="author"/>
    <select data-value="selectedItem" data-template-bind='{"attribute": "options", "value": {"data": "options", "value":"value", "content":"content"}}'></select>
    <div data-template-bind='[
        {"attribute": "innerHTML", "value": "post"},
        {"attribute": "data-date", "value": "date"},
        {"attribute": "data-author", "value": "author", "formatter": "sameCaseFormatter", "formatOptions": "upper"}]'>
    </div>
</div>
